# Node.js
node_modules/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
env/
venv/
ENV/
.venv/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Python Wallets (generated key files)
wallets/
